*{
    margin: 0;
    padding: 0;
}

/* header section */

.header-container {
    background-color: rgba(234, 100, 129, 0.10);
    display: flex;
    margin-top: 10px;
    padding: 100px;
    height: 800px;
    align-items: center;
}

.heading {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    margin-bottom: 10px;
}

.heading-para {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.half-width {
    margin-right: 0;
    width: 50%;
    margin-right: 100px;
}

.btn {
    background: #E55473;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
}

.next-half-width {
    width: 50%;
    width: 635px;
    height: 800px;
}

/* heading section end */


/* feature section start */

.feature-flower {
    margin-top: 10px;
}

.feature-heading {
    text-align: center;
}

.feature-heading h2{
    
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 18px;
}

.feature-heading p {
    font-family: 'Roboto Slab', serif;
}

.feature-image {
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.flower {
    width: 27%;
}

.first-img {
    background:url("Flower Asset/pngwing 6.png"), rgba(167, 33, 98, 0.15);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 30px 0 30px;
    height: 500px;
}

.second-img {
    background: url("Flower Asset/pngwing 5.png"), rgba(5, 151, 160, 0.15);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 30px 0 30px;
    
    height: 500px;
}

.third-img {
    background: url("Flower Asset/pngwing 7.png"), rgba(71, 125, 17, 0.15);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 30px 0 30px;
    
    height: 500px;
}

.pink-flower-tree{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;   
}

/* feature section end */


/* Hot deal section start */

.hot-deal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    background-color: rgba(234, 100, 129, 0.10);
}

.hot-deal-first-half {
    text-align: center;
}

.hot-deal-first-half h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 18px;
}
.hot-deal-first-half p {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 10px;
}


.hot-deal-image {
    background: url("Flower Asset/pngwing\ 8.png") ;
    height: 400px;
    width: 320px;
}
/* Hot deal section end */


/* Social section start */

.social-container {
    margin-top: 25px;
}

.social-heading {
    text-align: center;
}

.social-heading h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 18px;
}

.social-heading p {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 5px;
}

.social-image {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.social-1 {
    background: url("Flower Asset/Flower\ 01.png"), lightgray 50% / cover no-repeat;
    margin-right: 10px;
    width: 350px;
    height: 350px;
}

.social-2 {
    background: url("Flower Asset/Rectangle\ 4.png"), lightgray 50% / cover no-repeat;
    width: 350px;
    margin-right: 10px;
    height: 350px;
}

.social-3 {
    background: url("Flower Asset/Rectangle\ 5.png"), lightgray 50% / cover no-repeat;
    width: 350px;
    margin-right: 10px;
    height: 350px;
}

.social-4 {
    background: url("Flower Asset/Rectangle\ 6.png"), lightgray 50% / cover no-repeat;
    width: 350px;
    height: 350px;
}

/* Social section end */


/* Latest deal section start */

.latest-deal-container {
    margin: auto;
    width: 80%;
    border-radius: 8px;
    background: url("Flower Asset/Rectangle\ 9.png"), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    
}

.latest-deal-container h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 25px;
}

.latest-deal-container p {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 25px;
}

.email {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.email input {
    width: 700px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    
}

/* Latest deal section end */

/* footer start */

.footer-container {
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px 0 50px 0;
    margin-top: 80px;
}

.footer-container h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 25px;
}

.footer-container h2 span {
    color:  #E55473;
}

.footer-container p {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 25px;
}

.copyright {
    font-size: 12px;
    color: rgb(176, 230, 230);
}

/* footer end */