*{
    margin: 0;
    padding: 0;
}

/* header section */

.header-container {
    background-color: rgba(234, 100, 129, 0.10);
    display: flex;
    margin-top: 10px;
    padding: 100px;
    height: 800px;
    align-items: center;
}

.heading {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    margin-bottom: 10px;
}

.heading-para {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.half-width {
    margin-right: 0;
    width: 50%;
    margin-right: 100px;
}

.btn {
    background: #E55473;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
}

.next-half-width {
    width: 50%;
    width: 635px;
    height: 800px;
}

/* heading section end */


/* feature section start */

.feature-flower {
    margin-top: 10px;
}

.feature-heading {
    text-align: center;
}

.feature-heading h2{
    
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 18px;
}

.feature-heading p {
    font-family: 'Roboto Slab', serif;
}

.feature-image {
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.flower {
    width: 27%;
}

.first-img {
    background:url("Flower Asset/pngwing 6.png"), rgba(167, 33, 98, 0.15);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 30px 0 30px;
    height: 500px;
}

.second-img {
    background: url("Flower Asset/pngwing 5.png"), rgba(5, 151, 160, 0.15);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 30px 0 30px;
    
    height: 500px;
}

.third-img {
    background: url("Flower Asset/pngwing 7.png"), rgba(71, 125, 17, 0.15);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 30px 0 30px;
    
    height: 500px;
}

.pink-flower-tree{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;   
}

/* feature section end */









/* .central {
    display: flex;
    justify-content: center;
    width: 1350px
    height: 850px;
}

/* Heading Section start*/
/*
.header-container {
    background: rgba(234, 100, 129, 0.1);
    width: 100%;
    height: 850px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-shrink: 0;
}

.heading-info {
    width: 710px;
    height: 510px;
}

.heading {
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    font-weight: bold;
    line-height:normal;
}

.heading-info {
    font-family: 'Roboto Slab', serif;
}

.heading-image {
    width: 600px;
    height: 800px;
    background: url("Flower Asset/pngwing\ 10.png"),  cover no-repeat;
    flex-shrink: 0;
} */

/* Heading Section end */